{# LISFLOOD-FP parameter file, rendered from a scenario config.
   Times are on the shifted clock: landfall = coupling.landfall_s. #}
DEMfile        SUB_DEM_{{ name }}.asc
manningfile    Manning_{{ name }}.asc
bcifile        {{ name }}_coastline.bci
bdyfile        {{ name }}.bdy
{% if forcing.rainfall %}{% if forcing.rain_mode == 'dynamic' %}dynamicrainfile rain_{{ name }}.nc
{% else %}rainfall       rain_{{ name }}.txt
{% endif %}{% endif %}{% if forcing.infiltration %}infilfile      infil_{{ name }}.asc
{% if forcing.infil_capped %}infilcapfile   infilcap_{{ name }}.asc
{% endif %}{% endif %}

{% if lisflood.startfile %}startfile      {{ lisflood.startfile }}
startelev
{% endif %}
latlong
sgc_enable
{% if lisflood.acceleration %}acceleration
{% endif %}

tstart         {{ '%.1f' % tstart }}
sim_time       {{ '%.1f' % sim_time }}
initial_tstep  {{ lisflood.initial_tstep }}
max_Froude     1
{% if lisflood.voutput %}qoutput
{% endif %}
massint        1200
saveint        {{ lisflood.saveint }}
{% if lisflood.voutput %}voutput_max
hazard
{% endif %}{% if lisflood.checkpoint_h %}checkpoint     {{ lisflood.checkpoint_h }}
{% endif %}# netcdf_out   # disabled: segfaults on finalization in this build; use ASCII

dirroot        results_{{ name }}
resroot        res_{{ name }}
